<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>home</title>
  <link rel="stylesheet" href="./css/vendor.css">
  <link rel="stylesheet" href="./css/home.css">
  <link rel="stylesheet" href="./css/google/fonts.css">
</head>

<body>
  <header class="header">
    <div class="header-info">
      <div class="container">
        <div class="header-info-auth">
          <a href="#">Register for FREE!</a>
          <a href="#">login</a>
        </div>
        <div class="header-contack-info">
          <div class="header-fhone-info">
            <i class="fas fa-phone"></i>
            <p>+009 998 885 550</p>
          </div>
          <div class="header__emal-info">
            <i class="far fa-envelope-square"></i>
            <p>Youremaillhere@gmail.com</p>
          </div>
          <div class="header__icons">
            <i class="far fa-envelope-square"></i>
            <i class="far fa-envelope-square"></i>
            <i class="far fa-envelope-square"></i>
            <i class="far fa-envelope-square"></i>
            <i class="far fa-envelope-square"></i>
          </div>
          <div class="header__nav">
            <div class="container">
              <div class="header__logo">
                <img src="" alt="">
                <h2>seo.maza</h2>
              </div>
            </div>
          </div>
          <div class="header__navigation">
            <ul>
              <li><a href="">home</a></li>
              <li><a href="">about</a></li>
              <li><a href="">service</a></li>
              <li><a href="">case study</a></li>
              <li><a href="">bolg</a></li>
              <li><a href="">page</a></li>
              <li><a href="">contact</a></li>
            </ul>
          </div>
          <div class="header__button">
            <button class="header-button">

              <a href="#">free seo analyze</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
<div class="main">
  <div class="main__info">
    <section class="main__block-1">
      <div class="main__block-1-text">
        <h1>Improve Your Website's Rank On With Us...!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
          elit, sed do so w eiusmod to a tempor incididunt ut
           labore et dolore magna ali</p>
           <div class="chek__block">
             <img src="" alt="">
             <p>Lorem ipsum dolor sit amet, consectetur</p>
             <img src="" alt="">
             <p>Lorem ipsum dolor sit amet, consectetur adipisi top</p>

           </div>
           <button class="main__block-1-butt"></button>
           
      </div>
      <div class="main__block-1-img">
        <img src="./images/main-pic1.png" alt="">
      </div>
    </section>
    <section class="qussestion">
      <h2>who we are?</h2>
      <p>There are many variations of passages of Lorem Ipsum available, 
          but the majority have suffered alteration 
          in some form, by injected humour, or randomised words</p>
          <div class="qussestion__blocks">

            <div class="qussestion__block">
              <h5>Web Analytics</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore</p>
              <a href="">loren more</a>
            </div>
            <div class="qussestion__block">
              <h5>Digital Marketing</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore</p>
              <a href="">loren more</a>
            </div>
            <div class="qussestion__block">
              <h5>Website Optimization</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore</p>
              <a href="">loren more</a>
            </div>
        <div class="qussestion__information">
          <div class="qussestion__information-img">
            <img src="./images/main-pic2.png" alt="">
          </div>
          <div class="qussestion__information-txt">
            <h2>Our Company Information...</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
              sed do eiusmod tempor incididunt ut in labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud.abore et dolore magna to aliqua. 
               Ut enim ad minim veniam, quis nostrud.Lorem ipsum dolor sit amet, 
               consectetur to a the adipisicing elit, sed do eiusmod tempor incididunt</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
              incididunt ut in labore et dolore magna aliqua. Ut enim ad minim veniam, 
              quis nostrud.abore et dolore magna tit aliqua. Ut enim ad minim veniam, quis nostrud.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                 incididunt ut labore et dolore magna aliqua.</p>
                 <button class="qussestion__button">lear more</button>
                 <button class="qussestion__button-1">lear more</button>
          </div>
        </div>


          </div>
    </section>


  </div>
</div>









  <footer class="footer">
    <div class="footer__info">
      <div class="container">
        <div class="footer__txt-block">
          <div class="footer__logo">
            <img src="" alt="">
            <h2>seo.maza</h2>
          </div>
          <div class="footer__text">
            <p>Lorem ipsum dolor sit amet,
              consectetur the shape adipisicing elit,
              sed do eiusmod tempor incididunt a ut labore
              Lorem ipsum dolor sit amet, consectetur i adipisicing elit,
              sed do eiusmod tempor incididunt ut labore end

              Lorem ipsum dolor sit amet, consectetur shape to a adipisicing elit, sed do eiusmod tempor incididunt ut
              labore

              Lorem ipsum dolor sit amet, consectetur tob the a in araaadipisicing elit, sed do eiusmod
            </p>
          </div>
        </div>
        <div class="footer__form-block">
          <div class="footer__contact">
            <h2>contact with us</h2>
          </div>
        </div>
        <div class="footer__form">
          <input type="text" id="" placeholder="your name here">
          <input type="text" id="" placeholder="your emal here">
          <textarea name="" id="" cols="30" rows="10" placeholder="sms"></textarea>
          <button class="footer__button">submit</button>
        </div>
        <div class="footer__contact-blok">
          <div class="footer__contact-txt">
            <h2>lates news</h2>
          </div>
          <div class="footer__contact-contacts">
            <div class="footer__contact-1-contact">
              <p>How can be successfull in market seo.maza Market place..</p>
              <a href="#">13 feb.2016 /</a>
              <i>bissnes</i>
            </div>
            <div class="footer__contact-2-contact">
                <p>How can be successfull in market seo.maza Market place..</p>
                <a href="#">13 feb.2016 /</a>
                <i>bissnes</i>
              </div>
              <div class="footer__contact-3-contact">
                  <p>How can be successfull in market seo.maza Market place..</p>
                  <a href="#">13 feb.2016 /</a>
                  <i>bissnes</i>
                </div>

          </div>
        </div>
      </div>
    </div>
    <img src="./images/footer-line.png" alt="">
    <p>Copyright © 2018 All Right by Thememarshall..</p>
  </footer>

</body>

</html>